@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Texturina:wght@500&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Texturina', serif;
}

.heading{
    text-align: center;
    padding: 15px;
    font-size: 3rem;
    color: whitesmoke;
    background-color: rgb(53, 46, 53);
}

#addtxt{
    display: block;
    width: 80%;
    max-width: 400px;
    height: 60%;
    margin: auto;
    padding: 20px;
    font-family: 'Nerko One', cursive;
    background-color: #f6cd61;
    font-size: 1.2em;
    border-radius: 10px;
}

#additem{
    display: inline-block;
    width: 100px;
    margin: 10px auto;
    background-color: #fe8a71;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.7s ease;
}

#additem:hover{
    display: inline-block;
    width: 100px;
    margin: 10px auto;
    /* color: thistle; */
    background-color:  #9e503e;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#addNote{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0e9aa7;
    padding: 30px;
}

.note{
    display: inline-block;
    width: 45vw;
    max-width: 500px;
    min-height: 50px;
    margin: 0;
    height: auto;
    padding: 10px;
    padding-bottom: 4px;
    text-align: center;
    border-radius: 7px;
    background-color: #f6cd61;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    transition: transform 0.5s ease;
}

.note:hover{
    transition: transform 0.1s ease;
    transform: scale(1.01);
}


#notes{
    font-size: 2rem;
    background-color: #3da4ab;
}

.Heading{
    font-size: 2rem;
    display: block;
    margin: auto;
    width: 300px;
    text-align: center;
    color: whitesmoke;
    padding: 15px;
    font-weight: bold;
    background-color: #3da4ab;
}


#listContainer{
    background-color: #3da4ab;
    margin: 0;
    height: fit-content;
    min-height: 80vh;
    width: 100%;
}


#listitems{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.delbtn2{
    display: block;
    margin: 10px 5px;
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    max-width: 60px;
    max-height: 60px;
    min-height: 50px;
    background-color: #fe8a71;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px;
    transition: background-color 1s ease;
}

.delbtn2:hover{
    display: block;
    margin: 10px 5px;
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    max-width: 60px;
    max-height: 60px;
    min-height: 50px;
    background-color: #9e503e;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px;
    transition: background-color 0.3s ease;
}


.checkbtn{
    display: block;
    width: 20px;
    height: 20px;
    justify-self: center;
    margin: 25px 0px;
}

.checkednote{
    color: rgb(122, 118, 118);
    text-decoration: line-through;
}

.starred{
    background-color: rgb(233, 113, 113);
}

.editNote{
    margin: 0;
    width: 100%;
    border: none;
    background-color: #f6cd61;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

textarea{
    resize: vertical;
    /* overflow: auto; */
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .small-font{
      font-size: 15px;
      font-weight: normal;
      padding: 2px;
  }

  #filter-btn{
    position: fixed;
  }

  .invisible{
    display: none;  
  }

.shrink {
    width: 70%;
    margin: 20px;
}

#percentage {
    width: 0;
    transition: width 0.5s ease;
}

#task-stats {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 20px;
}
